**/.next
**/.next-frontend
**/.next-backend
**/node_modules
*.log
*.err.log
.codex-dev.log
.codex-dev.err.log
**/.env
**/.env.local
**/.env.production
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
